doctype html
html
  head
    title Create new issue
    link(rel='stylesheet', href='/style.css')
  body
    div
      h1= `Create new issue in /${projectName}`
    div.container
      form(action=`/${projectName}/issues`, method="post")
        label(for="issue[issue_title]") Title
        input(type="text", name="issue[issue_title]", placeholder="Enter a Title", required="required")
        label(for="issue[issue_text]") Description
        textarea(name="issue[issue_text]", cols="30", rows="10" placeholder="Enter a Description", required="required")
        label(for="issue[created_by]") Author
        input(type="text", name="issue[created_by]", placeholder="Enter a Author", required="required")
        label(for="issue[assigned_to]") Assigned
        input(type="text", name="issue[assigned_to]", placeholder="Assigned to:")
        label(for="issue[status_text]") Status Text
        input(type="text", name="issue[status_text]", placeholder="Enter a Status Text")        
        input(type="submit" value="Submit")